<%= form_with(model: songbook, local: true) do |form| %>
  <% if songbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(songbook.errors.count, "error") %> prohibited this songbook from being saved:</h2>

      <ul>
      <% songbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :songs %>


    <table class="table table-striped table-borderless">
      <thead>
      <tr>
        <th>Included</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Difficulty</th>
      </tr>
      </thead>

      <tbody>
    <%= collection_check_boxes(:songbook, :song_ids, Song.all.order(:title), :id, :title) do |b| %>
        <tr>
          <td><%= b.check_box %></td>
          <td><%= link_to b.object.title, b.object %></td>
          <td><%= b.object.artist %></td>
          <td><%= b.object.difficulty.try(:humanize) %></td>
        </tr>
      <% end  %>
      </tbody>
    </table>
  </div>

   <%= form.submit class: 'btn btn-primary' %>
<% end %>
