<p id="notice"><%= notice %></p>

<h1>Admin</h1>

<p class="text-right"><%= link_to 'New Song', new_song_path, class: "btn btn-primary" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= song.artist %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
